body {
    background-color: #222;
    color: #fff;
}

h1 {
    height: 10%;
    font-family: Georgia, serif;
}

#numbox {
    background-color: #550066;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 0px, 0px, 5px, 0px;
    font-size: 70px;
    border-radius: 15px;
}

#numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 500px;
}

.button {
    background-color: #7700aa;
    border: 6px solid #9900ff;
    border-radius: 10px;
    gap: 10px;
    color: #ffffff;
    font-size: 50px;
}

#zero {
    grid-column: 1/4;
}

#complex {
    grid-column: 1/4;


