body {
    background-color: #222;
    color: #fff;
}

h1 {
    height: 10%;
    font-family: Georgia, serif;
}

#numbox {
    background-color: #999;
    color: #000;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 0px, 0px, 5px, 0px;
    padding-bottom: 40%;
    font-size: 70px;
}
    